argon2-cffi
async-generator
attrs
backcall
bleach
catboost
certifi
cffi
click
colorama
cycler
decorator
defusedxml
entrypoints
Flask
Flask-Cors
gunicorn
imbalanced-learn
imblearn
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous==1.1.0
jedi
Jinja2==2.11.3
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe==1.1.1
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
#numpy==1.19.5
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
QtPy
retrying
scikit-learn
scipy
seaborn
Send2Trash
Six
terminado
testpath
threadpoolctl
tornado
traitlets
typing-extensions
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
xgboost
zipp
